{% extends "./dashboard-base.html" %} {% load static %} {% block content %}
<section class="overview scrollable">
  
    <div class="overview-top">
      <div>
        <h1>Hoş geldin, {{ request.user.username }}</h1>
        <p>
          Bu ekrandan davetiyelerinize ve daha fazlasına göz atabilirsiniz
        </p>
      </div>
      <a href="#" class="btn btn--create">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
      <!-- Cards -->
      <div class="cards">
        <div class="card green">
          <h2>Davetli Sayısı</h2>
          <span class="value">{{ statistics.invitee_count }}</span>
          <p>Son 24 saatte %10 artış!</p>
          
        </div>
        <div class="card">
          <h2>RSVP Durumu</h2>
          <span class="value">{{ statistics.rsvp_ratio }}</span>
          <p>Son 24 saatte %10 artış!</p>
        </div>
        <div class="card">
          <h2>Son Hatırlatma</h2>
          <span class="value">{{ statistics.last_reminder_sent }}</span>
          <p>Hatırlatma ekle!</p>
        </div>
        <div class="card">
          <h2>Düğün Tarihi</h2>
          <span class="value">{{ statistics.time_left }}</span>
          <p>{{ statistics.event_date }}</p>
        </div>
      </div>

      <!-- Bottom Section -->
      <div class="bottom-widgets">
        <div class="card invite-preview">
          <h3>Birincil Davetiye</h3>
          <div class="content">
            <img
              src="{% static 'images/invitation-sample.png' %}"
              alt="Davetiye"
            />
            <div class="actions">
              <a>PDF İndir</a>
              <a>Gönderime Geç</a>
              <a>Düzenle</a>
              <p>Link: Kopyala</a></p>
            </div>
          </div>
          <i class="fa-solid fa-circle-chevron-up"></i>

        </div>

        <div class="card mini-analysis">
          <h3>Mini Analiz</h3>
          <ul>
            <li>Katılım: <strong>25.7%</strong></li>
            <li>Red: <strong>25.7%</strong></li>
            <li>Cevapsız: <strong>25.7%</strong></li>
          </ul>
          <small>Öngörü: %85’i mobil cihazlardan</small>
          <i class="fa-solid fa-circle-chevron-up"></i>

        </div>
      </div>
    </section>
{% endblock %}
