{% load static %}

<!DOCTYPE html>
<html lang="tr">
  <head>
    <!-- Basic Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <title>
      {% block title %}DavetJet | Dijital Davetiye Paneli{% endblock %}
    </title>
    <meta
      name="description"
      content="DavetJet ile dijital davetiye hazırlayın, gönderin ve katılımı yönetin. Hızlı, etkili ve şık."
    />
    <meta
      name="keywords"
      content="dijital davetiye, düğün davetiyesi, davet yönetimi, rsvp, davetjet"
    />
    <meta name="author" content="DavetJet" />
    <link rel="canonical" href="https://davetjet.com/" />

    <!-- Open Graph (Facebook, WhatsApp) -->
    <meta property="og:title" content="DavetJet | Dijital Davetiye Paneli" />
    <meta
      property="og:description"
      content="Davetiye hazırlayın, gönderin ve katılımı yönetin."
    />
    <meta property="og:image" content="{% static 'images/og-image.jpg' %}" />
    <meta property="og:url" content="https://davetjet.com/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Cards -->
    <meta name="twitter:title" content="DavetJet | Dijital Davetiye Paneli" />
    <meta
      name="twitter:description"
      content="Davetiye hazırlayın, gönderin ve katılımı yönetin."
    />
    <meta name="twitter:image" content="{% static 'images/og-image.jpg' %}" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'apple-touch-icon.png' %}"
    />
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />

    <!-- Fonts & Icons -->
    <script
      src="https://kit.fontawesome.com/83fb529190.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script src="{% static 'scripts/app.js' %}" type="module" defer></script>

    {% block extra_css %}{% endblock %}

    <!-- Scripts (head) -->
    {% block head_scripts %}{% endblock %}
  </head>

  <body>
    <div class="custom-cursor"></div>
    <div class="blur-circle top-left"></div>
    <div class="blur-circle bottom-right"></div>

    {% block content %}{% endblock %}

    <!-- Global Scripts -->
    {% block extra_js %}{% endblock %}
  </body>
</html>
