{% extends '../dashboard-base.html' %} {% load static %} {% block content %}
<section class="overview scrollable">
  <div class="overview-top">
    <div>
      <h1>Davetiye Listeleri ({{ projects|length }} adet listelendi)</h1>
      <p>
        Bu ekrandan davetiye listelerinize göz atabilir ve yenilerini
        oluşturabilirsiniz.
      </p>
    </div>
    <a href="#" class="btn btn--create">
      <i class="fa-solid fa-plus"></i>
    </a>
  </div>

  <!-- Bottom Section -->
  <div class="bottom-widgets">
{% for proj in projects %}
  <div class="card invite-preview">
    <a class="stretched-link" href="{% url 'core:edit-recipients' proj.id %}" aria-label="{{ proj.name }}"></a>

    <h3>{{ proj.name }}</h3>
    <div class="content">
      <img src="{% static 'images/invitation-sample.png' %}" alt="Davetiye" />
      <div class="actions">
        <button type="button" class="btn btn--csv btn--sm" data-export="{{ proj.id }}">
          CSV Dışa Aktar
        </button>
        <a href="{% url 'core:analytics' %}">İstatistikler</a>
        <a href="{% url 'core:edit-invitation' proj.id %}">Düzenle</a>
        <p>Toplam: {{ proj.recipients.count }}</p>

      </div>
    </div>
  </div>
{% endfor %}

  </div>
</section>
{% endblock %}
