$colors: (
  dark: #222,
  light: #e3e3e3,

  primary-light: #5ADAA3,
  primary: #246E4E,
  primary-dark: #0A1A0D,
  primary-pastel: #39493C,
  primary-aqua: #5ADAA3,
  gray-50: #fafafa,
  gray-100: #B4B4B4,
  gray-200: #a8a8a8,
  gray-900: #232323,
);